# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
# remove the # that GitHub ignore the ".env" folder for the future
# .env
eclipse
run

# Files from Forge MDK
forge*changelog.txt
